@import "../variables/connections";
@import "~@paquette/ui/styles/index";

@mixin amethyst-connections-index {
  padding-top: $amethyst-connections-index-padding-top;
}

@mixin amethyst-connections-create-grid {
  display: grid;
  grid-gap: $amethyst-connections-create-grid-gap;

  @include breakpoint(sm) {
    grid-template-columns: repeat($amethyst-connections-create-grid-columns-sm, 1fr);
  }

  @include breakpoint(md) {
    grid-template-columns: repeat($amethyst-connections-create-grid-columns-md, 1fr);
  }

  @include breakpoint(lg) {
    grid-template-columns: repeat($amethyst-connections-create-grid-columns-lg, 1fr);
  }
}

@mixin amethyst-connections-create {
  padding-top: $amethyst-connections-create-padding-top;
}

@mixin amethyst-connections-create-provider-card-section {
  text-align: center;
  padding: 4vw;
}

@mixin amethyst-connections-create-provider-logo {
  max-width: 100%;
}