@import "../mixins/connections";

.amethyst-connections {
  &-index {
    @include amethyst-connections-index;
  }
  
  &-create {
    @include amethyst-connections-create;
    
    &-grid {
      @include amethyst-connections-create-grid;
    }

    &-provider {
      &-card {
        &-section {
          @include amethyst-connections-create-provider-card-section;
        }
      }

      &-logo {
        @include amethyst-connections-create-provider-logo;
      }
    }
  }
}